<!DOCTYPE html>
<html>
  <head lang="<%= I18n.locale %>">
    <meta charset="utf-8">
    <title>LokaliseI18n</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <ul>
        <li><%= link_to t('global.menu.home'), root_path %></li>
        <li><%= link_to t('global.menu.feedback'), new_feedback_path %></li>
      </ul>

      <ul>
        <% I18n.available_locales.each do |locale| %>
          <li>
            <% if I18n.locale == locale %>
              <%= t(locale, scope: 'locales') %>
            <% else %>
              <%= link_to t(locale, scope: 'locales'), url_for(locale: locale) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
