<p style="color: green"><%= notice %></p>

<%= render @feedback %>

<div>
  <%= link_to "Edit this feedback", edit_feedback_path(@feedback) %> |
  <%= link_to "Back to feedbacks", feedbacks_path %>

  <%= button_to "Destroy this feedback", @feedback, method: :delete %>
</div>
